@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin: 15px;
}

body {
  font-family: "Merriweather", serif;
  margin: 20px;
}

h1 {
  text-align: center;
}
ul {
  list-style: none;
}

.site-name {
  font-family: "Libre Baskerville", serif;
  font-weight: 1000;
  font-size: 50px;
}

.menu {
  position: fixed;
}

.main-menu {
  background-color: red;
  margin: 10px;
}

.main-menu-item {
  font-family: "Libre Baskerville", serif;
}

.aside {
  float: left;
  background-color: aliceblue;
  width: 25%;
  padding: 20px;
}

.card {
  width: 300px;
}

.content {
  height: 400px;
}

.main {
  height: 85vh;
  background-image: url("/img/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-parent {
  clear: left;
}

.footer {
  text-align: center;
  margin: 10px;
  color: black;
}

.favorites-main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;

  background-image: linear-gradient(to bottom right, rgb(48, 100, 0), gray);
}

.outro-main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;

  background-image: linear-gradient(to bottom right, rgb(216, 235, 198), gray);
}

.card {
  margin: 25px;
  height: 15rem;
  object-fit: cover;
}

/* outro */
.name-card {
  width: 360px;
  /* height: 110px; */
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px gray; /* 그림자 효과*/
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  background-color: rgb(248, 233, 151);
}
.name {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 10px;
  font-family: "Gugi", cursive;
}
.job-title {
  font-style: italic;
  font-size: 30px;
  margin-bottom: 10px;
}
